.products {
    width: 100%;
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px; */
    justify-items: center;  
    /* box-shadow: 0 0 15px #ddd; */
    margin-top: 20px;

}
/*----------ProductItem------------------*/
.product_card {
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 15px #ddd;
    padding: 15px;
    position: relative;
}

.product_card .product_image img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    transition: 0.4s linear;
}

.product_card .product_image img:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.product_box h2 {
    width: 100%;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #323232;
    cursor: pointer;
    font-size: 1.2rem;
}
.product_box span {
    color: crimson;
}
.product_box p{
    color: #555;
    width: 100%;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 70px;

}

.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    color: white;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 6px;
}
#btn_buy{
    background-color: #7b3994;
    margin-right: 5px;
}
#btn_view{
    background-color: #00b8e2;
    margin-right: 5px;
}
.product_card input {
    position: absolute;
    width: 25px;
    height: 25px;
}
/*--------------DeleteAll-------------------*/
.delete_all{
    text-align: right;
    margin: 20px;
}
.delete_all input{
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
}
.delete_all span{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #00b8e2;
}
.delete_all button{
    border:  1px solid crimson;
    padding: 10px 25px;
    color: crimson;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}